<!-- =========================================
     LittleQuest v1.0
     Global Footer
========================================= -->

<footer class="lq-footer">

    <div class="container">

        <div class="lq-footer-bottom">

            <div>
                © <span id="lqFooterYear"></span>
                <span data-i18n="footerCopyright">
                    LittleQuest
                </span>
            </div>

            <div>
                <span data-i18n="siteName">
                    LittleQuest
                </span>
                <strong>v1.0</strong>
            </div>

        </div>

    </div>

</footer>